<div class="wrapper">
    
    <main class="content">
        <div class="userInfo">
            <img src="https://media.licdn.com/dms/image/v2/D4D03AQG25WI_ufKF5A/profile-displayphoto-shrink_800_800/B4DZSTBK8OHUAc-/0/1737633346938?e=1753920000&v=beta&t=hPZL5aH67fWo0-zVG9Jpd8p3n_DFmuZcUmQw_NGRe1o" alt="Foto de Zoé Santos">
            <h1>Sejá bem-vindo, eu sou o Zoé Santos</h1>
            <p>Esse é o meu site de links em Angular 19, fique a vontade!</p>
        </div>
        <app-links></app-links>
    </main>
    <footer>Desenvolvido por Zoé Santos</footer>
</div>